body {
    font-style:normal;
    flex-wrap:wrap;
    display:flex;
    justify-content:center;
    align-items: flex-end;
}
h3 {
    font-size: 30px;
}

.buttons {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:baseline;
}

.container {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    padding: 50px;
    background-color:aqua;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.nextButton{
    padding: 8px;
    justify-content: center;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; 
}
/*Perspective gives it a 3D effect so it flips nice
How far bro is from the user, small num means more 3D looking*/

/* Front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  /*transform-style is how nested elements are rendenred in 3D*/
}

/* Flip when you move the mouse over the flip box container */
.flip-card:hover
.flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  /*this helps me not see the back of the card while the front is showing*/
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}